body {
    width: 50em;
    margin-left: auto;
    margin-right: auto;
    font-family: Palatino,Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    line-height: 1.4em;
    color: #282828;
    word-spacing: -0.05em;
}

h1, h2, h3, h4, h5, h6 {
    text-rendering: optimizelegibility;
    font-weight: bold;
    margin: 0.7em 0;
}

h1, h2, h3 {
    line-height: 40px;
}

h4, h5, h6 {
    line-height: 20px;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

a {
    color: #9C0001;
}

a:hover {
    color: #C50001;
}

blockquote {
  margin-left: 25px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

code {
    width: 800px;
}
